{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contact</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contact.id }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ contact.lastname }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ contact.firstname }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ contact.address }}</td>
            </tr>
            <tr>
                <th>Zipcode</th>
                <td>{{ contact.zipcode }}</td>
            </tr>
            <tr>
                <th>Town</th>
                <td>{{ contact.town }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('contact_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('contact_edit', { 'id': contact.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
